In [1]:
i, j = 1, 1

In [2]:
for m in range(10):
    i, j = j, i + j
    print(j)

2
3
5
8
13
21
34
55
89
144